<hi class="thank-you-title">Thank you for your order!</h1>
<ul class="checkout-options-list">
  <li><p class="checkout-home-button"><%= link_to "Home", root_path, :method => :get %></p></li>
  <li><p class="checkout-trackorder-button"><%= link_to "Track Order", cart_track_path, :method => :get %></p></li>
</ul>
