<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<title> Welcome! </title>
<div class="menu-bar">
    <ul>
      <li><a href="#about_landing">About</a></li>
      <li><a href="#latenight_landing">Late Night</a></li>
      <li><a href="#GBC_landing">GBC</a></li>
      <li><a href="#bearmarket_landing">Bear Market</a></li>
      <li><a href="#cart_landing">Cart</a><li>  
    </ul>
  </div>

<section class="module parallax parallax-1">
  <div class="container">
  <div id="about_landing"></div>
    <h1> UBEAR EATS </h1>
    <p> Cal dining to go. </p>
  </div>
</section>

<section class="module content">
  <div class="container">
  

    <p> What is UBEAR EATS?
    </p>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
  <div id="latenight_landing"></div>
    <h1>Late Night</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2> Menu </h2>
    <p> Late Night Menu.. 
    <br>
    </p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
  <div id="GBC_landing"></div>
    <h1>Golden Bear Cafe</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2> GBC menu.. </h2>
  </div>
</section>

<section class="module parallax parallax-4">
  <div class="container">
  <div id="bearmarket_landing"></div>
    <h1>Bear Market</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
  <h1> Bear Market catalog...</h1>
    
  </div>
</section>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/custom.js"></script>