<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Hind">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Helvetica">
  <script type="text/javascript" src="welcome.js"></script>
  <script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

</head>
<html>
  <div class="welcome-page">
    <h1 class="title">UBEAREATS</h1>
    <div class="navbar--container" id="navbar__container">
      <ul class="navbar">
        <li class="navbar_item" id="navbar__about" >About</li>
        <li class="navbar_item">Sign Up</li>
        <li class="navbar_item">Login</li>
      </ul>
    </div>
  </div>
  <div class="about-page">
  </div>
</html>
