<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Hind">
</head>
<html>
  <div class="welcome-page">
    <h1 class="title">Berkeley Food</h1>
    <ul class="navbar">
      <li class="navbar__about">About</li>
      <li>Sign Up</li>
      <li>Login</li>
    </ul>
  </div>
  <div class="about-page">
  </div>
</html>
