.menu-bar-cart {
  position: absolute;
  padding: 0;
  margin: 0;
}

.cart-navbar {
  padding: 0;
  margin: 0;
  position: fixed;
  margin-left: -10% !important;
  display: flex;
  display: inline-block;
  list-style-type: none;
  list-style:none;
  width: 120%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

.cart-navbar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.cart-navbar li a {
  display: block;
  color: white;
  width: 105px;
  font-weight: 200px;
  padding: 20px 0px;
  text-decoration: none;
  text-align: center;
  margin-right: -5px;

}
a:hover:not(.active) {
  background-color: rgba(0,0,0,0.4);
}

#cart {
  padding-top: 5%;
}
.title {
  margin : 0;

}
