html{
  background-color: rgba(0,0,0,0);
  font-family: 'Lato', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container {
  padding: 0;
  width: 80%;
  margin: 0 auto;
  height: 500px;
}
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 0;
  font-size: 30px;
}
section.module p {
  font-family: Lato;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  margin-top: -100px;
  height: 600px;

  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: white;
  line-height: 450px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}
section.module.parallax p {
  color: white;

  margin-top: -100px;
  line-height: 0px;
  font-weight: 200;
  text-align: center;
}
.social-icons {
  margin-left: 30%;
  padding: 0;
  font-size: 256px;
}
section.module.parallax-1 {
  background-image: url(img1.jpeg);
}
section.module.parallax-2 {
  background-image: url(img2.jpeg);
}
section.module.parallax-3 {
  background-image: url(img3.jpeg);
}
section.module.parallax-4 {
  background-image: url(img4.jpeg);
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 92px;
  }
  section.module.parallax p {
    font-size: 48px;
  }
  ul {
  padding: 0;
  position: fixed;
  margin-top: 20px;
  margin-left: -10%;
  display: flex;
  display: inline-block;
  list-style-type: none;
  list-style:none;
  width: 120%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  }

li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  color: white;
  width: 105px;
  font-weight: 200px;
  padding: 20px 0px;
  text-decoration: none;
  text-align: center;
  margin-right: -5px;

}
a:hover:not(.active) {
  background-color: rgba(0,0,0,0.4);
}

section.module.content a:hover:not(.active) {
  background-color: white;
  font-weight: bold;
}


.menu-bar{
  font-weight: 200;
}
