// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
  background-image: url("car4.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-page {
  width: 100%;
  height: 100%;

  .title {
    color: white;
    font-size: 100px;
    font-family: Hind;
    position: absolute;
    margin-left: 32%;
    margin-top: 17%;
  }

  .navbar--container {
    background-color: black;
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    .navbar {
      list-style-type: none;

      #navbar__about {
        float: left;
      }

      .navbar_item {
        text-decoration: none;
        display: inline-block;
        color: white;
        font-size: 20px;
        font-family: Hind;
        float: right;
        margin-left: 10px;
        margin-right: 30px;
        font-weight: 1;

        &:hover {
          cursor: pointer;
          color: rgb(12, 103, 187) !important;
        }
      }
    }
  }
}

.about-page {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 100%;
}
